body {
    margin: 0;
}
svg {
  /*SVG: float a shape over another shape */
  position: relative;
  z-index: 1;
}
h1 {
  margin: 0px;
  z-index: 10;
  font-size: 2.2em;
}
h2 {
  margin: 0px;
  z-index: 10;
}
p {
  position: relative;
  margin: 0px;
  z-index: 10;
  font-size: 1.2em;
}
.self_exploration_page {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 15% 15% 15% auto;
    grid-template-areas:
        "flashlight_section_L flashlight_section_R"
        "heart_section_L heart_section_R"
        "triangle_section_L triangle_section_R"
        "job_section_L job_section_R"
        "logo_section_L logo_section_R";
}

.section_text {
  font-family: "TamilSangamMN-Bold",Tamil Sangam MN;
  font-size: 0.8em;
}
/* for svg Text */
.text {
  font-family: "TamilSangamMN-Bold",Tamil Sangam MN;
}
.title {
  fill: #ffffff;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  /* text-transform: uppercase; */
  transform: translate(20px,10px);
}
.text_underline {
  border-bottom: 2px solid #ffffff;
}
.text_red {
  color: #ef5656;;
}

/* Character stylings */
.character_brown { 
  fill:#663a14;
  /* fill: purple; */
}
.character_skin {
  fill: #fcbb65
  /* fill: red; */
}

.character_orange_1 {
  fill: #FCA12A;
}
/*########## Flashlight Section ##########*/
.background_shadow {
    margin: 0;
    background: linear-gradient(#60513E,#7A694F,#AB957C,#FFFFFF);
    width: 100%;
    height: 35%;
    width: 100%;
    grid-area: flashlight_section_L;
    grid-column: 1/3;
    grid-row: 1/6;
}
/* title */
.title {
    width: 60%; /* makes size responsive */
    grid-area: flashlight_section_L;
    grid-column: 1/2;
}

#flashlight_section {
  grid-area: flashlight_section_L;
  grid-column: 1/3;
  transform: translate(95px, -55px) scale(1.35) rotate(0deg);
}

#flashlight_section.clicked {
  animation-duration: 15s;
  animation-name: changeDegrees;
  animation-iteration-count: infinite;
}

@keyframes changeDegrees {
  0% {
    transform: translate(95px, -55px) scale(1.35) rotate(0deg);
  }
  25% {
    transform: translate(95px, -55px) scale(1.35) rotate(3deg);
  }
  50% {
    transform: translate(95px, -55px) scale(1.35) rotate(-3deg);
  }
  75% {
    transform: translate(95px, -55px) scale(1.35) rotate(3deg);
  }
  100% {
    transform: translate(95px, -55px) scale(1.35) rotate(0deg);
  }
}
#toggle_button {
  cursor: pointer;
  animation: toggleStatic 3s infinite;
}
@keyframes toggleStatic {
  0% {
    transform: translate(0px);
  }
  10% {
    transform: translate(5px);
  }
  20% {
    transform: translate(0px);
  }
  30% {
    transform: translate(8px);
  }
  40% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}
#toggle_button.clicked {
  transform: translateX(0px);
  animation: toggleShift 0.5s forwards;
}
@keyframes toggleShift {
  0%{
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}
#toggle_body_color.clicked {
  fill: #747373;
  animation: toggleColorShift 0.5s forwards;
}
@keyframes toggleColorShift {
  25%{
    fill: #747373;
  }
  100%{
    fill: green;
  }
}

.pulse {
  display: none;
  /* stroke: #FFFF33; */
  stroke: #ef5656;
  stroke-width: 0px;
  /* stroke: #2ECC71; */
  /* stroke-width: 1px; */
  /* stroke-opacity: 1; */
  fill: white;
  fill-opacity: 0.2;
  transform-origin: 5px 5px;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.pulse.show {
  display: block;
}


@keyframes pulse {
  0%{
      /* stroke-width: 5px;
      stroke-opacity: 1; */
      transform: scale(1);
      fill-opacity: 0.4;
  }
  25% {
      /* stroke-opacity: 1; */
      fill-opacity: 0.6;
      
  }
  100% {
      /* stroke-width: 0;
      stroke-opacity: 0; */
      transform: scale(6);
      fill-opacity: 0;
  }
}

#light {
  opacity: 0;
}

#light.clicked {
  animation: letThereBeLight 0.25s forwards;
}

@keyframes letThereBeLight {
  from {
    opacity: 0;
  }
  to {
    opacity: .85;
  }
}

#click_here_hover {
  display: flex;
  align-items: center;
  grid-area: flashlight_section_L;
  transform: translate(120px, -60px) scale(.7);

}

.click_shape {
  display: flex;
}

.arrows {
  display: flex;
  flex-basis: 80%;
  flex-grow: 1;
  min-width: 40px;
  max-width: 40px;
  left: 0px;
  fill: #ffffff;
  right: 2px;
}

#arrow_1.hovered {
  animation: 1s arrowFade 0.6s infinite;
}
#arrow_2.hovered {
  animation: 1s arrowFade 0.4s infinite;
}
#arrow_3.hovered {
  animation: 1s arrowFade 0.2s infinite;
}
@keyframes arrowFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

#flashlight_logo {
  opacity: 1;
  display: flex;
  transform: scale(3) rotateX(0deg);
  min-width: 14.5px;
  left: 25.5px;
}
#flashlight_logo.hide {
  animation: hideShape 0.08s forwards;
}
#arrows1 {
  opacity: 0;
}
#square_1:hover > .arrows {
  animation: textAppear .3s forwards;
}

#click_here_text {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 200px;
  max-width: 200px;
  font-size: 1.5em;
  font-weight: 700;
  right: 65px; 
}

#square_1{
  grid-area: flashlight_section_L;
  display: flex;
  flex-direction: row;
  flex-flow: start;
  width: 70px;
  height: 70px;
  border-width: 5;
  border-style: solid;
  border-color: #E6E6E6;
  background:#695544;
  border-radius: 100px;
  transition: width 0.2s ease, background 0.2s ease;
}

#square_1:hover {
  width: 250px;
  
}

#square_1:hover > p {
  width: 250px;
  animation: makeAppear .3s forwards;
}

@keyframes textAppear {
  0%{
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}

#square_1 > p {
  opacity: 0;
  color: #ffffff;
  font-size: 1.5em;
  width: 200%;
  font-weight: 700;
  transform: translate(100px, 25px);
}


#character_1_section {
  grid-area: flashlight_section_R;
  width: 60%;
  transform: translate(120px,150px);
  opacity: 0.7;
}

#character_1_section.clicked {
  animation: characterReveal 0.3s forwards;
}

@keyframes characterReveal {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.shape_group_top {
  grid-area: flashlight_section_L;
  width: 20%;
  transform: translate(-10px, -45px);
}
#question_indicator_1 {
  cursor: pointer;
  grid-area: flashlight_section_R;
  width: 15%;
  transform: translate(320px, 130px);
}

.question_mark_1.clicked {
  animation: 0.09s color_transition 0.25s forwards;
}

@keyframes color_transition {
  0% {
    fill: #E8E2E2;
  }
  100% {
    fill: #7C7B7B;
  }
}

#self_exploration_text {
  grid-area: flashlight_section_L;
  grid-column: 1/3;
  width: 30%;
  height: 50%;
  transform: translate(150px,150px) scale(0);
}

#self_exploration_text.clicked {
  animation: 0.01s revealText 0.25s forwards;
}

@keyframes revealText {
  from {
    transform: translate(150px,150px) scale(0);
  }
  to {
    transform: translate(255px,210px) scale(1);
  }
}

/*##########  Heart Section ##########*/
.character_2_section {
  grid-area: heart_section_L;
  width: 75%;
  justify-self: center;
  transform: translate(-30px, -40px);
}

#question_indicator_2 {
  cursor: pointer;
  grid-area: heart_section_L;
  width: 15%;
  transform: translate(40px, -80px);
}

#big_heart {
  cursor: pointer;
  grid-area: heart_section_R;
  width: 110%;
  transform: translate(-50px, -160px) scale(0.3);
  animation: heartBeat_2 5s infinite;
}

@keyframes heartBeat_2 {
  0% {
    transform: translate(-50px, -160px) scale(.3);
  }
  12% {
    transform: translate(-50px, -160px) scale(.3);
  }
  14% {
    transform: translate(-50px, -160px) scale(.5);
  }
  16% {
    transform: translate(-50px, -160px) scale(.3);
  }
  18% {
    transform: translate(-50px, -160px) scale(.4);
  }
  20% {
    transform: translate(-50px, -160px) scale(.3);
  }
  100% {
    transform: translate(-50px, -160px) scale(.3);
  }
}

#click_here_hover2 {
  display: flex;
  align-items: center;
  grid-area: heart_section_R;
  transform: translate(-40px, -290px) scale(.7);
}
#square_2 {
  grid-area: flashlight_section_L;
  display: flex;
  flex-direction: row;
  flex-flow: start;
  width: 70px;
  height: 70px;
  /* background: #EF5656; */
  border-width: 5;
  border-style: solid;
  border-color: #E6E6E6;
  background:#695544;
  border-radius: 100px;
  transition: width 0.2s ease;
}
#arrows2 {
  opacity: 0;
  fill:#ffffff;
  transform: translateX(210px) rotate(270deg);
}

#square_2:hover > .arrows {
  animation: makeAppear .3s forwards;
}
#square_2:hover {
  width: 285px;
}
#click_here_text_2 {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 200px;
  font-size: 1.5em;
  font-weight: 700;
  right: 120px; 
}

#square_2 > p {
  opacity: 0;
  font-size: 1.5em;
  color: #ffffff;
  width: 200%;
  font-weight: 700;
  transform: translate(100px, 25px);
}
#square_2:hover > p {
  width: 250px;
  animation: makeAppear .3s forwards;
}

@keyframes makeAppear {
  0%{
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}

#heart_shape{
  opacity: 1;
  display: flex;
  transform: scale(2.5) rotate(15deg);
  min-width: 16px;
  max-width: 16px;
  left: 27.5px;
  top: 15px;
}
#heart_shape.hide {
  animation: hideShape 0.12s forwards;
}

@keyframes hideShape {
  0% {
    transform: scale(3.15) rotateX(0deg);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: scale(3.15) rotateX(90deg);
    opacity: 0;
    
  }
}

#big_heart.clicked {
  cursor: default;
  animation: enlargeHeart 0.5s forwards, 8s heartBeat 3s infinite;
  /* animation-duration: 8s;
  animation-name: heartBeat;
  animation-iteration-count: infinite; */
}
@keyframes enlargeHeart {
  0% {
    transform: translate(-50px, -160px) scale(0.3);
  }
  100% {
    transform: translate(-50px, -160px) scale(.9);
  }
}

@keyframes heartBeat {
  0% {
    transform: translate(-50px, -160px) scale(.9);
  }
  12% {
    transform: translate(-50px, -160px) scale(.9);
  }
  14% {
    transform: translate(-50px, -160px) scale(1.1);
  }
  16% {
    transform: translate(-50px, -160px) scale(.9);
  }
  18% {
    transform: translate(-50px, -160px) scale(1);
  }
  20% {
    transform: translate(-50px, -160px) scale(.9);
  }
  100% {
    transform: translate(-50px, -160px) scale(.9);
  }
  
}

#one_great_advice_text {
  grid-area: heart_section_R;
  width: 55%;
  height: 50%;
  transform: translate(75px, 35px) scale(0);
}
#one_great_advice_text.clicked {
  animation: enlargeText2 0.48s forwards;
}
#one_great_advice_text > p {
  font-size: 1.3em;
}

@keyframes enlargeText2 {
  0% {
    transform: translate(75px, 35px) scale(0);
  }
  100% {
    transform: translate(100px, 95px) scale(1);
  }
}

/*##########  Triangle Section ##########*/
#click_here_hover3 {
  display: flex;
  align-items: center;
  grid-area: triangle_section_L;
  transform: translate(-30px, -100px) scale(.7);
}
#square_3 {
  display: flex;
  flex-direction: row;
  flex-flow: start;
  width: 70px;
  height: 70px;
  /* background: #EF5656; */
  border-width: 5;
  border-style: solid;
  border-color: #E6E6E6;
  background: #695544;
  border-radius: 100px;
  transition: width 0.2s ease;
}
#arrows3 {
  opacity: 0;
  transform: translateX(210px) rotate(270deg);
}

#square_3:hover > .arrows {
  animation: makeAppear .3s forwards;
}
#square_3:hover {
  width: 285px;
}
#click_here_text_3 {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 200px;
  max-width: 200px;
  font-size: 1.5em;
  font-weight: 700;
  right: 135px; 
}

#square_3 > p {
  opacity: 0;
  color: #ffffff;
  font-size: 1.5em;
  width: 200%;
  font-weight: 700;
  transform: translate(100px, 25px);
}
#square_3:hover > p {
  width: 250px;
  animation: makeAppear .3s forwards;
}

#triangle_shape{
  opacity: 1;
  display: flex;
  transform: scale(2.5) rotate(0deg);
  min-width: 16px;
  max-width: 16px;
  left: 27.5px;
  top: 18px;
}

#triangle_shape.hide {
  animation: hideShape 0.12s forwards;
}

#triangle_section {
  grid-area: triangle_section_L;
  width: 110%;
  transform: translate(0px, -200px);
}
#red_circle {
  grid-area: triangle_section_L;
  width: 18%;
  transform-origin: translate(65px, 130px);
  transform: translate(65px, 130px);
  animation: static_animation_circle 12s infinite;
}
@keyframes static_animation_circle {
  0% {
    transform: translate(65px, 130px) rotate(0deg);
  }
  50% {
    transform: translate(65px, 130px) rotate(-10deg);
  }
  100% {
    transform: translate(65px, 130px) rotate(0deg);
  }
}

#red_circle.clicked {
  animation: moveCircle 0.5s forwards, 12s static_animation_circle_2 0.5s infinite;;
  
}
@keyframes moveCircle {
  0%{
    transform: translate(65px, 130px);
  }
  100% {
    transform: translate(30px, 40px);
  }
}

@keyframes static_animation_circle_2 {
  0% {
    transform: translate(30px, 40px) rotate(0deg);
  }
  50% {
    transform: translate(30px, 40px) rotate(-10deg);
  }
  100% {
    transform: translate(30px, 40px) rotate(0deg);
  }
}

#orange_box {
  grid-area: triangle_section_R;
  width: 25%;
  /* transform-origin: translate(-195px, 95px); */
  transform: translate(-195px, 95px);
  animation: static_animation_box 8.5s infinite;
}
@keyframes static_animation_box {
  0% {
    transform: translate(-195px, 95px) rotate(0deg);
  }
  50% {
    transform: translate(-195px, 95px) rotate(10deg);
  }
  100% {
    transform: translate(-195px, 95px) rotate(0deg);
  }
}

#orange_box.clicked {
  animation: moveBox 0.5s forwards, 1s, 8.5s static_animation_box_2 0.5s infinite;
}
@keyframes moveBox {
  0%{
    transform: translate(-195px, 80px);
  }
  100% {
    transform: translate(-120px, 0px);
  }
}

@keyframes static_animation_box_2 {
  0% {
    transform: translate(-120px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-120px, 0px) rotate(10deg);
  }
  100% {
    transform: translate(-120px, 0px) rotate(0deg);
  }
}

#blue_triangle {
  cursor: pointer;
  grid-area: triangle_section_L;
  width: 95%;
  transform: translate(20px, 100px) scale(0.4);
  animation: static_animation_triangle 7s infinite;
}
@keyframes static_animation_triangle {
    0% {
      transform: translate(20px, 100px) scale(0.4) rotate(0deg);
    }
    50% {
      transform: translate(20px, 100px) scale(0.4) rotate(-10deg);
    }
    100% {
      transform: translate(20px, 100px) scale(0.4) rotate(0deg);
    }
}

#blue_triangle.clicked {
  cursor: default;
  animation: enlargeTriangle 0.5s forwards, 15s static_animation_triangle_2 0.5s infinite;;
}

@keyframes enlargeTriangle {
  0%{
    transform: translate(20px, 100px) scale(0.4);
  }
  100% {
    transform: translate(50px, 0px) scale(1.05);
  }
}

@keyframes static_animation_triangle_2 {
  0% {
    transform: translate(50px, 0px) scale(1.05) rotate(0deg);
  }
  50% {
    transform: translate(50px, 0px) scale(1.05) rotate(-10deg);
  }
  100% {
    transform: translate(50px, 0px) scale(1.05) rotate(0deg);
  }
}

.character_3 {
  grid-area: triangle_section_R;
  width: 75%;
  transform: translate(65px, 130px);
}

#question_indicator_3 {
  cursor: pointer;
  grid-area: triangle_section_R;
  width: 15%;
  transform: translate(340px, 120px);
}

#furthermore_text {
  grid-area: triangle_section_L;
  grid-column: 1/3;
  width: 25%;
  height: 50%;
  transform: translate(110px, 200px) scale(0);
}

#furthermore_text.clicked {
  animation: enlargeText3 0.48s forwards;
}

@keyframes enlargeText3 {
  0% {
    transform: translate(110px, 200px) scale(0);
  }
  100% {
    transform: translate(140px, 130px) scale(1);
  }
}

/*##########  Job Section ##########*/
#understanding_text {
  grid-area: job_section_L;
  grid-column: 1/3;
  justify-self: center;
  text-align: center;
  width: 95%;
  font-size: .9em;
  color: #663A14;
  transform: translateY(130px);
}

#question_indicator_4 {
  cursor: pointer;
  grid-area: job_section_L;
  width: 18%;
  transform: translate(20px, 195px);
}
.job_text {
  font-weight: 700;
}

.job_section_text {
  align-self: center;
  justify-self: center;
  grid-area: job_section_L;
  grid-column: 1/3;
  width: 60%;
  transform: translateY(105px);
}
.job_boxes {
  align-self: center;
  justify-self: center;
  grid-area: job_section_L;
  grid-column: 1/3;
  width: 80%;
  transform: translateY(230px)
}

.logo_section {
  align-self: center;
  justify-self: center;
  grid-area: logo_section_L;
  grid-column: 1/3;
  width: 60%;
  transform: translateY(80px)
}

.job_box {
  transition: transform 0.3s ease;
}
.job_box:hover {
  transform: translateY(-20px);
}


.shape_group_bottom {
  grid-area: logo_section_L;
  width: 30%;
  transform: translate(-25px, 230px);
}

.modal {
  display: none;
  position: fixed;/* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.modal.clicked {
  display: block;
}

/* Modal Content/Box */

.modal_content {
  background: linear-gradient(#FFEABD, #FFD682);
  margin: 5% auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 45%;
  font-size: 50%;
  border-radius: 25px;
}

#first_modal > .modal_content {
  transform: translateY(10%);
}
#second_modal > .modal_content {
  transform: translateY(80%);
}
#third_modal > .modal_content {
  transform: translateY(160%);
}
#fourth_modal > .modal_content {
  transform: translateY(200%);
}

/* The Close button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal_text {
  font-family: "TamilSangamMN-Bold",Tamil Sangam MN;
}
h2.modal_text {
  font-size: 5em;
}
p.modal_text {
  font-size: 2.5em;
}

/* q indicator shape hovers */
.move1 {
  animation: float1 3s infinite;
}

@keyframes float1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.move2 {
  animation: float2 3s infinite;
}

@keyframes float2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}