body {
    margin: 0;
}
svg {
  /*SVG: float a shape over another shape */
  position: relative;
  z-index: 1;
}
h1 {
  margin: 0px;
  z-index: 10;
}
p {
  position: relative;
  margin: 0px;
  z-index: 10;
}
.self_exploration_page {
    display: grid;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 60% 20% auto;
    grid-template-areas:
        "flashilight_section_L flashilight_section_R"
        "heart_section_L heart_section_R"
        "triangle_section_L triangle_section_R"
        "job_section_L job_section_R"
        "logo_section_L logo_section_R";
}

.section_text {
  font-family: "TamilSangamMN-Bold",Tamil Sangam MN;
  font-size: 0.8em;
}
/* for svg Text */
.text {
  font-family: "TamilSangamMN-Bold",Tamil Sangam MN;
}
.title {
  fill: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  transform: translate(10px,10px);
}

/* Character stylings */
.character_brown { 
  fill:#663a14;
  /* fill: purple; */
}
.character_skin {
  fill: #fcbb65
  /* fill: red; */
}

.character_orange_1 {
  fill: #FCA12A;
}
/*########## Flashlight Section ##########*/
.background_shadow {
    margin: 0;
    background: linear-gradient(#60513E,#7A694F,#AB957C,#FFFFFF);
    height: 676px;
    width: 100%;
    grid-area: flashilight_section_L;
    grid-column: 1/3;
}
/* title */
.title {
    width: 60%; /* makes size responsive */
    grid-area: flashilight_section_L;
    grid-column: 1/2;
}

.flashlight_section {
  grid-area: flashilight_section_L;
  grid-column: 1/3;
  width: 150%;
  transform: translate(-40px, -220px);  
}

.character_1_section {
  grid-area: flashilight_section_R;
  width: 70%;
  justify-self: center;
}

.shape_group_top {
  grid-area: flashilight_section_L;
  width: 15%;
  transform: translate(10px, 195px);
}
#question_indicator_1 {
  grid-area: flashilight_section_R;
  width: 15%;
}
.self_exploration_text {
  grid-area: flashilight_section_L;
  grid-column: 1/3;
  width: 30%;
  height: 50%;
  transform: translate(200px,200px);
}

/*##########  Heart Section ##########*/
.character_2_section {
  grid-area: heart_section_L;
  width: 85%;
  justify-self: center;
}

#question_indicator_2 {
  grid-area: heart_section_L;
  width: 15%;
}

.big_heart_section {
  grid-area: heart_section_R;
}

.furthermore_text {
  grid-area: heart_section_R;
  width: 50%;
  height: 50%;
}

/*##########  Triangle Section ##########*/
.triangle_section {
  grid-area: triangle_section_L;
}

.character_3 {
  grid-area: triangle_section_R;
  width: 80%;
}

#question_indicator_3 {
  grid-area: triangle_section_R;
  width: 15%;
}

.understanding_text {
  grid-area: triangle_section_L;
  grid-column: 1/3;
  width: 30%;
  height: 50%;
}

/*##########  Job Section ##########*/
.job_text {
  font-weight: 700;
}

.job_section_text {
  align-self: center;
  justify-self: center;
  grid-area: job_section_L;
  grid-column: 1/3;
  width: 80%;
}
.job_boxes {
  align-self: center;
  justify-self: center;
  grid-area: job_section_L;
  grid-column: 1/3;
  width: 80%;
  transform: translateY(120px)
}

.logo_section {
  align-self: center;
  justify-self: center;
  grid-area: logo_section_L;
  grid-column: 1/3;
  width: 60%;
  transform: translateY(120px)
}